.about {
	padding: 4.2em 0px 8em 0px;
    margin-left: 5%;
    width: 1200px;
}

.about-main h3 {
	font-size: 2em;
	color: #1793d1;
	font-weight: 600;
	margin: 0px;
}

.about-main h5 {
	font-size: 18px;
	line-height: 1.5em;
	margin: 1em 0px 0px 0px;
	/* color: #010101; */
}

.about-main p {
	font-size: 16px;
	line-height: 1.8em;
	/* color: #959191; */
	margin-top: 13px;
}

.about-text {
	margin-top: 2.5em;
    width: 1500px;
    /* height: 360px; */
    float: left;
}

.about-text-left{
    float: left;
    margin-left: 2%;
}
.about-text-left p{
    width: 310px;
}
.about-text-left img{
    border-radius: 1em;
}
.about-text-left h5 {
	font-size: 1.5em;
}
.container1::after{
    content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.tool{
    margin-top: 2em;
}
a.tooltips {
	position: relative;
	display: inline;
}

a.tooltips span {
	position: absolute;
	width: 168px;
	background: #FFFFFF;
	border: 2px solid #ea5b60;
	height: 42px;
	text-align: center;
	color: #000;
	padding: 14px 0px 0px 0px;
}

a.tooltips span:hover {
	background: #ea5b60;
	color: #fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

a.tooltips span:before {
	content: '';
	position: absolute;
	top: 22%;
	left: 81%;
	margin-left: -12px;
	width: 0;
	height: 0;
	border-top: 29px solid #ea5b60;
	border-right: 28px solid transparent;
	border-left: 28px solid transparent;
	transform: rotate(90deg);
}

a.tooltips span:after {
	content: '';
	position: absolute;
	top: 21%;
	left: 79%;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-top: 30px solid #FFFFFF;
	border-right: 31px solid transparent;
	border-left: 30px solid transparent;
	transform: rotate(90deg);
}

.container1{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.col-md-4{
    /* position: relative; */
    /* width: 33%; */
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
/* .container1 p{
    margin: 0 0 10px;
} */