* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;    
}

.menu {
    width: 1950px;
    height: 50px;
    background-color: yellow;
}

.nav {
    padding: 0;
    margin-left: 10%;
}

.menu li:hover {
    background: lightskyblue;
}

.menu .nav .nav-container {
    float: left;
    background: blue;
    text-align: center;
    width: 155px;
}

.nav-list {
    width: 155px;
    background: grey;
    padding: 0;
    margin: 0;
}

.nav-list li a:hover {
    color: #fff;
}

a {
    line-height: 50px;
    color: #fff;
}
.nav-container p{
    margin-top: 16px;
    padding-bottom: 16px;
}

.text p{
    line-height: 18px;
    color: #fff;
}
.nav p{
    line-height: 18px;
    color: #fff;
}

a:hover {
    color: lightskyblue;
}

.menu .nav .nav-container .nav-list {
    display: none;
}

.menu .nav .nav-container:hover .nav-list {
    display: list-item;
    position: absolute;
    z-index: 999;
}

#box {
    /* width: 1500px;
    height: 400px; */
    margin: 50px auto;
    left: 15%;
    padding: 5px;
    position: relative;
    margin-left: 130px;
    /* overflow: hidden; */
}
/*  */

/* #slider,ul,img{
    width: 500px;
    height: 400px;
} */

#slider,
#slider ul,
#slider ul li a {
    width: 800px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider {
    position: absolute;
    /* position: relative; */
    border: 2px solid black;
    /*padding: 3px;*/
    margin: 10px 0 0 10px;
    /* z-index: 1; */
    overflow: hidden;
    /* 隐藏显示区域外的图片 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#slider ul {
    position: absolute;
    list-style-type: none;
    width: 6000px;
    /* 设置图片列表的长度 */
    /*transition-duration: 0.3s;*/
}

#slider li {
    float: left;
}

#slider a {
    /* display: inline-block; */
    display: block;
}

img {
    width: 100%;
    height: 100%;
}

#slider:hover .arrow-container {
    display: block;
}

.arrow-container {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    display: none;
}
/* 箭头的样式设计 */
.arrow-container span {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    /*display: inline-block;*/
    text-align: center;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

.left-arrow {
    left: 0px;
    cursor: pointer;
}

.right-arrow {
    right: 0px;
    cursor: pointer;
}
/* 小圆点的样式设计 */
.indicator-container {
    position: absolute;
    width: 150px;
    height: 30px;
    line-height: 30px;
    bottom: 0;
    left: 50%;
    margin-left: -75px;
    text-align: center;
}

.indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: white;
    cursor: pointer;
}

.indicator.active {
    background: lightskyblue;
}

/*  */
body{
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
}
.text h1{
    font-family: 'Aladin', cursive;
    text-align: center;
    margin-top: 500px;
    font-size: 50px;
}
.text{
    width: 900px;
    text-align: center;
    margin: auto;
    margin-left: 300px;
}
/*  */

.footer{
    background: #3193d1;
    padding: 2em 0;
    width: 1670px;
    margin-left: 0;
}
.footer-left ul{
    padding: 0;
}
.footer-left ul li{
    list-style: none;
    display: inline-block;
}
.footer-left ul li span{
    background-image: url(../img/footer-sprit.png);
    width: 30px;
    height: 30px;
    display: block;
    transition: 0.5s all;
    -webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.footer-left ul li span.fb{
    background-position: 0 0;
}
.footer-left ul li span.twit{
    background-position: -30px 0;
}
.footer-left ul li span.in{
    background-position: -60px 0;
}
.footer-left ul li span.fb:hover{
	background-position:0px -30px;    
}
.footer-left ul li span.twit:hover{
	background-position:-30px -30px;
}
.footer-left ul li span.in:hover{
	background-position:-60px -30px;
}
.footer-right p a:hover{
    color: #fff;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.footer-right p a{
    color: #000;
}
.footer-main{
    margin-top: 22px;
}
.col-md-6.footer-left{
    width: 50%;
    float: left;
}
.col-md-6.footer-right{
    float: right;
    width: 50%;
}
.footer{
    padding: 1.2em 0;
}
.col-md-6.footer-left,.col-md-6.footer-right{
    width: 100%;
    float: none;
    text-align: center;
}
.footer-right p{
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
}
.footer-main{
    margin-top: 0;
}
.container:after{
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.wrap {
    margin: 0 auto;
    width: 1000px;
    max-width: 1000px;
}
/*分割线*/
.tile {
    width: 570px;
    height: 300px;
    margin: 20px;
    background-color: #99aeff;
    display: inline-block;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
    overflow: hidden;
    color: white;
    font-family: 'HPE';
}

.tile img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
}

.tile .text {
    z-index: 99;
    position: absolute;
    padding: 30px;
    height: calc(100% - 60px);
}

.tile h1 {
    font-weight: 300;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile h2 {
    font-weight: 100;
    margin-top: 20px;
    line-height: 45px;
    font-style: italic;
    transform: translateX(200px);
    margin-left: 10%;
}

.tile p {
    font-weight: 300;
    margin-top: 20px;
    line-height: 25px;
    transform: translateX(-200px);
    transition-delay: 0.2s;
    margin-left: 10%;
}

.animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out;
    z-index: 99;
}

.tile:hover {
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
    transform: scale(1.05);
    z-index: 99;
}

.tile:hover img {
    opacity: 0.2;
}

.tile:hover .animate-text {
    transform: translateX(0);
    opacity: 1;
    z-index: 99;
}

.dots {
    position: absolute;
    bottom: 20px;
    right: 30px;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    color: currentColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dots span {
    width: 5px;
    height: 5px;
    background-color: currentColor;
    border-radius: 50%;
    display: block;
    opacity: 0;
    transition: transform 0.4s ease-out, opacity 0.5s ease;
    transform: translateY(30px);
}

.tile:hover span {
    opacity: 1;
    transform: translateY(0px);
}

.dots span:nth-child(1) {
    transition-delay: 0.05s;
}

.dots span:nth-child(2) {
    transition-delay: 0.1s;
}

.dots span:nth-child(3) {
    transition-delay: 0.15s;
}
.mg .tile{
    margin-left: 120px;
}